body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #033a0c;
}

header {
    background-color: #033a0c;
    color: white;
    text-align: center;
    padding: 20px;
}
.para{
    padding-top: 50px;
    margin-right: 100px;
}

    
   


h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 20px;
}

.beach {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
   
.beach img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.beach h2 {
    margin-bottom: 220px;
    color: #033a0c;
    font-size: x-large;
    padding-top: 10px;
    
}

footer {
    background-color:  #333;
    color: white;
    text-align: center;
    padding: 10px;
}
