body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color:  #033a0c;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #ecf0f1;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

.place {
    display: inline-flex;
    margin-bottom: 20px;
}
.pla{
    display: inline-flex;
    margin-top: 50px; 
    padding-right: 300px;
}
.place img {
    width: 300px;
    margin-right: 20px;
    border-radius: 8px;
}

footer {
    background-color:#333 ;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
