
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #033a0c;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-image: ('img/hike.webp');
    background-size: cover;
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    font-size: 2.5rem;
}

.main {
    padding: 20px;
}

.blog-posts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

article {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

article:hover {
    transform: scale(1.05);
}

article img {
    max-width: 100%;
    border-radius: 5px;
}

article h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

article p {
    font-size: 1rem;
}

article a {
    color: #033a0c;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #ff6f61;
    text-decoration: none;
}
