
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

header {
    background-color: #033a0c;
    color: white;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
}

main {
    padding: 20px;
}


.travel-tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.tip {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 280px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.tip:hover {
    transform: translateY(-5px);
}

.tip img {
    width: 150px;
    height: 150px;
}

.tip h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color:#033a0c;
}

.tip p {
    font-size: 1rem;
    color: #555;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
